:root{
  --background-body-color: #dde1e7;
  --background-content-color: #dde1e7d6;
  --primary-text-color: #595959;
  --background-field-color: #dde1e7bc;
  --background-button-color: #ffffff9a;
  --primary-accent-text-color: #3498db;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  height: 100%;
}
body{
  display: grid;
  place-items: center;
  background: var(--background-body-color);
  text-align: center;
}

/* Background video */

.video-container{
  width: 100vw;
  max-height: 100vh;
  background: url(../media/background-video.mp4) center/cover no-repeat;
  overflow: hidden;
  position: relative;
}
.video-container::before{
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.video{
  /* position: relative; */
  padding-bottom: 56.25%;
}

.video-media{
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

/* Login + Registration */

.content{
  z-index: 5;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 330px;
  padding: 40px 30px;
  background: var(--background-content-color);
  border-radius: 10px;
}
.content .text{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 35px;
  color: var(--primary-text-color);
}
.field{
  height: 50px;
  width: 100%;
  display: flex;
  position: relative;
}
.field  {
  margin-bottom: 20px;
}

.field input{
  height: 100%;
  width: 100%;
  padding-left: 45px;
  outline: none;
  border: none;
  font-size: 18px;
  background: var(--background-field-color);
  color: var(--primary-text-color);
  border-radius: 25px;
}
.field input:focus{
  box-shadow: inset 3px 3px 4px #BABECC,
              inset -3px -3px 4px #ffffff85;
}
.field span{
  position: absolute;
  color: var(--primary-text-color);
  width: 50px;
  line-height: 50px;
}
.field label{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 45px;
  pointer-events: none;
  color: var(--primary-text-color);
}
.field input:valid ~ label{
  opacity: 0;
}
button{
  margin: 15px 0;
  width: 100%;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  font-weight: 600;
  background: var(--background-button-color);
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--primary-text-color);
}
button:focus{
  color: var(--primary-accent-text-color);
  box-shadow: inset 2px 2px 5px #a8acb7,
             inset -5px -5px 10px #ffffff73;
}
.sign-up, .sign-in{
  margin: 10px 0;
  color: var(--primary-text-color);
  font-size: 16px;
}
.sign-up a, .sign-in a{
  color: var(--primary-accent-text-color);
  text-decoration: none;
}
.sign-up a:hover, .sign-in a:hover{
  text-decoration: underline;
}